[submodule "backend/pokerogue/src/main/resources"]
	path = backend/pokerogue/src/main/resources
	url = https://github.com/woowacourse-teams/2024-pokerogue-helper-config.git
[submodule "backend/monitoring/config"]
	path = backend/monitoring/config
	url = https://github.com/team-timmyroom/be-monitoring-config.git
